[Unit]
Description=Run NXR Python to Java data synchronization

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
AccuracySec=30s
RandomizedDelaySec=15s
Persistent=false
Unit=nxr-python-java-sync.service

[Install]
WantedBy=timers.target
