[Unit]
Description=NXR Main Flask App
After=network.target

[Service]
Type=simple
WorkingDirectory=/root/nxr_website
Environment=PORT=8080
Environment=FLASK_DEBUG=0
Environment=PYTHONUNBUFFERED=1
ExecStart=/usr/bin/python3 /root/nxr_website/app.py
Restart=always
RestartSec=3
StandardOutput=append:/root/nxr_website/output.log
StandardError=append:/root/nxr_website/output.log

[Install]
WantedBy=multi-user.target
